* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    
  }

  body{
    background-color: #F4F5F6;
  }
  
  button{
    border: none;
    background-color: white;
  }

  .white-box{
    background-color: white;
    border-top: 1px solid #DADCE0;
    border-bottom: 1px solid #DADCE0;
    padding-top:10px;
    padding-bottom:10px;
    width: 100vw;
    height: 65vh;
  }

  .student{
    border: 1px solid #DADCE0;
    border-radius: 10px;
    background-color: white;
    width: 89vw;
    margin-left: auto;
    margin-right: auto;
  }

  .message-box{
    border: 1px solid #bebdbd;
    border-radius: 10px;
    width: 89vw;
  }

 select {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #CFCBFB;
  border-radius: 7px;
  opacity: 1;
  color: #4535f3;
  font-family: inherit;
  background: url('./image/drop_down_dark_gray.png') 97% center no-repeat;
  background-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 5px;
  }
    
  select::-ms-expand {
    display: none;
  }

  .form{
    height: 30vh;
    font-size: 16px;
  }
  
  .btn-send{
    background: #3F3FEA 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #00000019;
    border-radius: 10px;
    opacity: 1;
    color: white;
  }

  .lecturer-message-box{
    border: 1px solid #bebdbd;
    border-radius: 10px;
  }

  .from-lecturer{
    color: #4535F3;
  }

  .my-btn{
    box-shadow: 0px 0px 8px #0000001A;
    width: 21vw;
    height: 10vh;
    border-radius: 10px;
   
  }

  .my-btnn{
    margin-right: 1.7vw;
  }
    
  table{
    position: relative;
  }

  .time{
    color: #bebdbd;
    position: absolute;
    right: 5px;
    font-size: 12px;
  } 

  
