* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    
  }

  body{
    background-color: #F4F5F6;
  }
  
  button{
    border: none;
    background-color: white;
  }

  
  .student{
    border: 1px solid #DADCE0;
    border-radius: 10px;
    background-color: white;
    width: 89vw;
    margin-left: auto;
    margin-right: auto;
  }

  .white-box{
    background-color: white;
    border-top: 1px solid #DADCE0;
    border-bottom: 1px solid #DADCE0;
    padding-top:10px;
    padding-bottom:10px;
    width: 100vw;
    height: 65vh;
  }

  .show{
      border: 1px solid #DADCE0;
      height: 61vh;
      width: 89vw;
      border-radius: 10px;
  }

  .content{
    font-size: 16px;
  }


  .my-btn{
    box-shadow: 0px 0px 8px #0000001A;
    width: 21vw;
    height: 10vh;
    border-radius: 10px;
  }

  .keyword{
    font: normal normal medium 16px/19px Roboto;
    color: #4535F3;
    border: 1px solid #CFCBFB;
    border-radius: 48px;
  }

  .sended-student{
    color: #7C7D80;
  }

  @media ( min-width: 768px ) {
    .student{
      width: 588px;
    }
    .show{
      width: 588px;
    }

    .white-box{
      height: 30vw;
      height: 67vh;
    }
    .my-btn{
      width: 80px;
      height: 70px;
    }
  }
  